<!DOCTYPE html>
<html class="no-js" lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}E-Mobilier - La première plateforme d'annonces pour mandataires immobiliers{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}Ce média innovant offre la possibilité aux entreprises et aux collectivités de partager, en un seul clic, toutes les informations clés concernant leur activité. Un outil pratique et ludique pour communiquer autrement.{% endblock %}">


        {% block stylesheets %}
            <!-- Favicon -->
            <link rel="shortcut icon" href="favicon.ico">
            <!-- Bootstrap -->
            <link href="{{ asset('css/vendor/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Fonts -->
            <link href="{{ asset('css/fonts/et-lineicons/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/fonts/linea-font/css/linea-font.css') }}" rel="stylesheet">
            <link href="{{ asset('css/fonts/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!-- Slider -->
            <link href="{{ asset('css/vendor/slick.css') }}" rel="stylesheet">
            <!-- Lightbox -->
            <link href="{{ asset('css/vendor/magnific-popup.css') }}" rel="stylesheet">
            <!-- Animate.css -->
            {#<link rel="stylesheet" href="assets/styles/vendor/animate.css">#}
            <link href="{{ asset('css/vendor/animate.css') }}" rel="stylesheet">


            <!-- Definity CSS -->
            {#<link rel="stylesheet" href="assets/styles/main.css">#}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            {#<link rel="stylesheet" href="assets/styles/responsive.css">#}
            <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

        {% endblock %}

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar">
        
        {% block nav %}
            <!-- ========== Navigation ========== -->

            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-trans {% if active == 1 %}is-home{% endif %} navbar-fw" role="navigation">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Logo -->
                    <a class="navbar-brand" href="{{ path('crw_platform_homepage') }}"><img src="{{ asset('img/logo.svg') }}"></a>
                </div>

                <!-- Navbar Links -->
                <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('crw_platform_homepage') }}">Accueil<span class="sr-only"></span></a></li>
                        <li><a href="{{ path('crw_platform_annonce') }}">Annonces<span class="sr-only"></span></a></li>
                        <li><a href="{{ path('crw_platform_about') }}">A Propos<span class="sr-only"></span></a></li>
                        <li><a href="{{ path('crw_platform_faq') }}">FAQ<span class="sr-only"></span></a></li>
                        <li><a href="{{ path('crw_platform_contact_index') }}">Contact<span class="sr-only"></span></a></li>
                        <li><a href="{{ path('crw_platform_contact_index') }}">Connexion<span class="sr-only"></span></a></li>
                    </ul><!-- / .nav .navbar-nav -->
                </div><!--/.navbar-collapse -->
            </nav><!-- / .navbar -->

        {% endblock %}

        {% block body %}
            
        {% endblock %}

        {# inclus le footer #}
        {% block footer %}
            {{ include("CRWPlatformBundle:Cookies:banner.html.twig") }}

    <!-- ========== Footer Widgets ========== -->
        
        <footer class="footer-widgets">
          <div class="container">
            <div class="row section">

            <!-- Navigation -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">Navigation</h5>
                    <a href="{{ path('crw_platform_homepage') }}">Accueil</a><br>
                    <a href="{{ path('crw_platform_annonce') }}">Annonces</a><br>
                    <a href="{{ path('crw_platform_about') }}">A Propos</a><br>
                    <a href="{{ path('crw_platform_faq') }}">FAQ</a><br>
                    <a href="{{ path('crw_platform_contact_index') }}">Contact</a><br>
                    <a href="{{ path('crw_platform_contact_index') }}">Connexion</a>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- About Us -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">A Propos de nous</h5>
                  <p>Nous sommes une plateforme d'annonces immobilières à destinations de mandataires immobiliers et fournissons des outils pour vous aider à trouver le bien de vos rêves.</p>

                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Instagram Feed -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget gallery-widget">
                  <h5 class="header-widget">Dernières annonces</h5>
                  <ul>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Mentions Légales -->
              <div class="col-md-3 col-sm-6">
                <div class="widget about-widget">
                  <h5 class="header-widget">Mentions légales & CGV</h5>
                  
                    <a href="{{ path('crw_platform_legal') }}">Mentions Légales</a><br>
                    <a href="{{ path('crw_platform_cgv') }}">Conditions Générales de Vente</a><br>

                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

            </div><!-- / .row -->
          </div><!-- / .container -->


          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-sm-6">
                  <small>&copy; 2017 E-Mobilier. Fait par l'équipe développement de E-Mobilier</small>
                </div>

                <div class="col-sm-6">
                  <small><a href="#page-top" class="pull-right to-the-top">Au début<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->

        </footer><!-- / .footer-widgets -->

        {% endblock %}

        
            <!-- JS -->
            <link rel="stylesheet" href="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}" >

            <!-- ========== Scripts ========== -->

            <script src="{{ asset('js/vendor/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('js/vendor/google-fonts.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.easing.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/vendor/bootstrap-hover-dropdown.min.js') }}"></script>
            <script src="{{ asset('js/vendor/smoothscroll.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.localScroll.min.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.scrollTo.min.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.parallax.js') }}"></script>
            <script src="{{ asset('js/vendor/js.cookie.js') }}"></script>
            <script src="{{ asset('js/vendor/slick.min.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.easypiechart.min.js') }}"></script>
            <script src="{{ asset('js/vendor/countup.min.js') }}"></script>
            <script src="{{ asset('js/vendor/isotope.min.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/vendor/wow.min.js') }}"></script>
            <script src="{{ asset('js/vendor/jquery.ajaxchimp.js') }}"></script>
            <script src="{{ asset('js/vendor/animDots.js') }}"></script>

            <!-- Google Maps -->
            <script src="{{ asset('js/gmap.js') }}"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>

            <!-- Definity JS -->
            <script src="{{ asset('js/main.js') }}"></script>

            <script>
   
            console.log("test " + JSON.stringify(Cookies()));

                /* On vérifie si l'émément existe */
                if ($("#cookies-banner").length > 0) {

                    console.log("ok 1 " );

                    $("#cookies-banner").find('a').on('click', function(e) {

                        console.log("ok 2 " );
                        e.preventDefault();

                        $("#cookies-banner").slideUp();

                        Cookies.set('test', '1', { 
                            expires: 365,
                            secure: false,
                        });

                        console.log("test " + JSON.stringify(Cookies()));
                    });
                    if (Cookies.get('test') != 1){

                        $("#cookies-banner").show();

                    }
                }

            </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>