{% extends 'base.html.twig' %}

{% block body %}

    {% block nav %}

      {{ parent() }}
      
    {% endblock %}

    <h1 xmlns="http://www.w3.org/1999/html">Annonce</h1>

    <div id="blog" class="section container blog-classic">
        <div class="row">
            <div class="col-md-8 mb-sm-160">

                <!-- Blog Post -->
                <div class="col-md-12 blog-post-single wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">

                    <!-- Image -->
                    <center><img class="img-responsive post-img" style="width:400px" src="/e-mobilier/web/uploads/{{ annonce.mediaName }}" alt="Blog Post 1">
                        </center>
                    <!-- Meta data -->
                    <div class="post-meta">
                        <a href="#" class="post-date">
                            <i class="fa fa-calendar-o"></i>
                            <span>August 01.2015</span>
                        </a>
                        <a href="#" class="post-comments">
                            <i class="fa fa-comments-o"></i>
                            <span>4</span>
                        </a>
                    </div><!-- / .meta -->

                    <!-- Title -->
                    <h2 class="post-title">{{ annonce.titre }}</h2>


                    <div class="blog-post-content">
                        <br>
                        <!-- List -->

                        <br>
                        <p>
                            {{ annonce.description }}
                        </p>
                    </div>

                </div><!-- / .blog-post-single -->


                <!-- ========== Comments ========== -->

                <div class="row">
                    <div class="col-md-12 blog-post-comments">

                        <h4 class="blog-section-title">Commentaires</h4>
                        <!-- Replay Comment -->
                        <div class="bp-comment-reply">
                            <div class="comment-avatar"><i class="fa fa-user"></i></div>
                            <div class="comment-info">
                                <h6 class="comment-name">Florian </h6>


                            </div>
                            <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div><!-- / .bp-comment-reply -->



                        <!-- Comment 3 -->
                            <div class="bp-comment">
                                <div class="comment-avatar"><i class="fa fa-user"></i></div>
                                <div class="comment-info">
                                    <h6 class="comment-name">Mehdi</h6>
                                    <span class="comment-time">on June 23,2015, at 22:34</span>
                                </div>
                            <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                        </div><!-- / .bp-comment -->


                        <!-- Leave a comment -->
                        <div class="comment-form">


                            <form action="post">
                                <!-- Name -->
                                <div class="col-md-6 form-group no-gap-left">

                                </div>

                                <!-- Email -->
                                <div class="col-md-6 form-group no-gap-right">

                                </div>

                                <!-- Website -->
                                <div class="col-md-12 form-group no-gap">

                                </div>

                                <!-- Comment -->
                                <div class="col-md-12 form-group no-gap">

                                </div>

                            </form>
                        </div><!-- / .comment-form -->

                    </div><!-- / .blog-post-comments -->
                </div><!-- / .row -->

                <!-- Post Navigation -->
                <div class="row">
                    <nav class="blog-post-nav">

                    </nav>
                </div>

            </div><!-- / .col-md-8 -->



            <!-- ========== Sidebar ========== -->

            <aside class="col-md-offset-1 col-md-3 sidebar">

                <!-- Search - Widget -->
                <div class="col-md-12 ws-s search-widget">
                    <div class="form-group">

                    </div>
                </div>


                <!-- Tags - Widget -->
                <div class="col-md-12 ws-s tags-widget">
                    <h5 class="header-widget">Informations</h5>
                    <ul class="flat-list">
                        <li><i class="fa fa-check">Type :<b>
                                    {% if annonce.typedebien == 0%}
                                        Appartement

                                    {% else %}
                                        Maison
                                    {% endif %}


                                </b></i></li>
                        <li><i class="fa fa-check">{{ annonce.prix }}€</i></li>
                        <li><i class="fa fa-check">Surface habitable :{{ annonce.surface }} m²</i></li>
                        <li><i class="fa fa-check">Pièces :{{ annonce.nbdepiece }}</i></li>
                        <li><i class="fa fa-check">{{ annonce.prix }}</i></li>
                        <li><i class="fa fa-check">Classement Energétique :{{ annonce.dpe }}</i></li>
                    </ul>
                </div>


               <center> <a href="{{ path('annonce_edit', { 'id': annonce.id }) }} " class="btn btn-small" style="background-color: darkblue">Editer</a><br><br></center>



<center>
                {{ form_start(delete_form) }}
                <input type="submit"class="btn btn-small" style="background-color: darkred"  value="Delete">
                {{ form_end(delete_form) }}

</center>


            </aside><!-- / .sidebar -->

        </div><!-- / .row -->
    </div><!-- / .container -->

{% endblock %}
